body {
  background-image: url('/images/comp-logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 234 67% 94%;
    --foreground: 231 48% 20%;

    --card: 0 0% 100%;
    --card-foreground: 231 48% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 48% 20%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 50% 88%;
    --secondary-foreground: 231 48% 20%;
    --muted: 231 50% 88%;
    --muted-foreground: 231 40% 45%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 80%;
    --input: 231 20% 85%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 233 30% 12%;
    --foreground: 234 67% 94%;
    --card: 233 30% 16%;
    --card-foreground: 234 67% 94%;
    --popover: 233 30% 16%;
    --popover-foreground: 234 67% 94%;
    --primary: 231 48% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 233 30% 24%;
    --secondary-foreground: 0 0% 98%;
    --muted: 233 30% 24%;
    --muted-foreground: 234 60% 70%;
    --accent: 36 100% 60%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 233 30% 24%;
    --input: 233 30% 24%;
    --ring: 231 48% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}